# pobbler==24.08.0 # install from the github repo -> https://github.com/oschwartz10612/poppler-windows/releases
                                                # extract from the zip file and add the path("C:\Program Files\poppler-24.08.0\Library\bin") to the system variables
langchain
langchain_community
langchain_core
langchain_openai
pypdf
faiss-cpu
dotenv
streamlit
pdfplumber
langchain_groq
transformers
audio_recorder_streamlit
torch
librosa
openai
streamlit_option_menu
easyocr
numpy
langgraph
langmem
pdf2image
Pillow